.product_filter_col{
    min-height: 100vh;
    /* border: 1px solid red; */
}
.product_filter_col input{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    padding-left:0.5rem ;
}
.product_filter_col input:focus{
    outline: none;
    padding-left: 0.5rem;

}
.product-heading{
    width: fit-content;
    font-weight: 700;
}
.active{
    font-size: 13px;
    width: fit-content;
}
.active:hover{
    color: #6254F3;
    cursor: pointer;
    border-bottom: 1px solid #6254F3;
    /* border-width: 40px; */
}
.clear_filter{
    width: fit-content;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #6254F3;
}
.grid_icon{

    width: fit-content;
    padding: 0.2rem 0.8rem;
    background-color: #F6F8FA;
    font-size: 1.23rem;
}
.products_number{
    font-weight: 500;
    font-size: 1.2rem;
}
.select select{
    height: 2rem;
    border: 1px solid black;
}

.product_card{
    width: 90%;
    height: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}